In [1]:
import math
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]
#sorting the list
ages.sort()
print("After sorting the list is",ages)
print("Minimum age is",ages[0])
print("Maximum age is",ages[-1])
#adding minimum and maximum values to the list
ages.append(ages[-1])
ages.append(ages[0])
ages.sort()
print("After adding min and max values to the list is",ages)
#finding the median of list
mid1 = len(ages)//2
mid2 = mid1-1
if len(ages)%2 == 0:
    median = (ages[mid1]+ages[mid2])/2
else:
    median = ages[mid1]
print("Median is ",median)
#finding average age 
sum = 0
for i in ages:
    sum = sum + i
average = round(sum/len(ages),2)
print("average is ",average)
#finding range
range = ages[-1] - ages[0]
print("Range is ",range)

After sorting the list is [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Minimum age is 19
Maximum age is 26
After adding min and max values to the list is [19, 19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 26]
Median is  24.0
average is  22.75
Range is  7

In [25]:
dog = dict()
dog = {'name', 'color', 'breed', 'legs', 'age'}
print(dog)

# creating a dictionary called student and added keys and values 

student = {"first_name":"Sai Prakash", "last_name":"Tummala", "gender":"Male", "age":24, "marital status":"single","skills":["python","java"], "country":"India", "city":"eluru" , "address":"123 Guntupalli"}
print(student)

#printing length of student

print(len(student))

#printing the values of key "skills" and the data type of it

print( student["skills"],type(student["skills"]))

#modifying the skills by adding two skills

student["skills"].extend(["javascript","c++"])
print( student["skills"])

# printing the dictionary keys as list

print("keys",student.keys())

# printing the dictionary values as list

print("values",list(student.keys()))

{'breed', 'age', 'color', 'name', 'legs'}
{'first_name': 'Sai Prakash', 'last_name': 'Tummala', 'gender': 'Male', 'age': 24, 'marital status': 'single', 'skills': ['python', 'java'], 'country': 'India', 'city': 'eluru', 'address': '123 Guntupalli'}
9
['python', 'java'] <class 'list'>
['python', 'java', 'javascript', 'c++']
keys dict_keys(['first_name', 'last_name', 'gender', 'age', 'marital status', 'skills', 'country', 'city', 'address'])
values ['first_name', 'last_name', 'gender', 'age', 'marital status', 'skills', 'country', 'city', 'address']

In [30]:
brothers = ("Ravi","Vamsi")
print("My brothers are",brothers)
sisters = ("Teja","Bhargavi")
print("My sisters are",sisters)

#Joining brothers and sisters tuples and assign it to siblings

siblings = brothers + sisters
print("My siblings are ",siblings)

# printing number of siblings

print("I have",len(siblings),"siblings")

# Modifying the siblings tuple by adding father and mother name

siblings = siblings + ("setaramaiah","Devi")

#Assigning it to the family members tuple

family_members = siblings
print("my family members are ",family_members)

My brothers are ('Ravi', 'Vamsi')
My sisters are ('Teja', 'Bhargavi')
My siblings are  ('Ravi', 'Vamsi', 'Teja', 'Bhargavi')
I have 4 siblings
my family members are  ('Ravi', 'Vamsi', 'Teja', 'Bhargavi', 'setaramaiah', 'Devi')

In [14]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

# Finding the length of the set it_companies

it_companies_len = len(it_companies)
print("length of set it_companies:", it_companies_len)

# Adding 'Twitter' to it_companies

it_companies.add("Twitter")
print("Set it_companies after adding 'Twitter':", it_companies)

# Inserting multiple IT companies at once to the set it_companies

it_companies.update({"Infosys", "TCS"})
print("Set it_companies after adding multiple IT companies:", it_companies)

# Remove one of the companies from the set it_companies

it_companies.remove("Google")
print("Set it_companies after removing one of the companies:", it_companies)

# What is the difference between remove and discard
#remove raises a KeyError exception if the specified item is not in the set
# discard will not raise an exception.

# Joining A and B

ABJoin = A | B
print(ABJoin)

# Finding A intersection B

ABIntersect = A & B
print(ABIntersect)

# Is A subset of B

isSubset = A.issubset(B)
if isSubset:
    print("A is subset of B")
else:
    print("A is not subset of B")

# Are A and B disjoint sets

isDisjoint = A.isdisjoint(B)
if isDisjoint:
    print("A and B are disjoint sets")
else:
    print("A and B are not disjoint sets")

# Joining A with B and B with A

ABJoin = A.update(B)
BAJoin = B.update(A)
print("A joined with B:", ABJoin)
print("B joined with A:", BAJoin)

# The symmetric difference between A and B

ABSymDif = A ^ B
print("Symmetric difference between A and B:", ABSymDif)

# Deleting the sets completely

del it_companies
del A
del B
print("Sets it_companies, A, and B deleted successfully")

# Converting the ages to a set and compare the length of the list and the set.

ageSet = set(age)
listLen = len(age)
setLen = len(ageSet)
print("List age has length:", listLen)
print("Set ageSet has length:", setLen)
print("Length difference:", listLen - setLen)

length of set it_companies: 7
Set it_companies after adding 'Twitter': {'Microsoft', 'Twitter', 'Apple', 'Facebook', 'Oracle', 'IBM', 'Amazon', 'Google'}
Set it_companies after adding multiple IT companies: {'Twitter', 'Infosys', 'Facebook', 'IBM', 'Microsoft', 'Apple', 'TCS', 'Oracle', 'Amazon', 'Google'}
Set it_companies after removing one of the companies: {'Twitter', 'Infosys', 'Facebook', 'IBM', 'Microsoft', 'Apple', 'TCS', 'Oracle', 'Amazon'}
{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26}
A is subset of B
A and B are not disjoint sets
A joined with B: None
B joined with A: None
Symmetric difference between A and B: set()
Sets it_companies, A, and B deleted successfully
List age has length: 8
Set ageSet has length: 5
Length difference: 3

In [33]:
# Taking radius as input from the user

radius = int((input("Enter radius ")))

#Calculating area of circle

_area_of_circle_ = 3.14*(radius^2)

#Calculating circumference of circle

_circum_of_circle_ =2*3.14*radius

#Printing area of circle

print("Area of circle is ",_area_of_circle_)

#printing circumference of circle

print("circumference of circle is",_circum_of_circle_)

Enter radius 30
Area of circle is  87.92
circumference of circle is 188.4

In [3]:
sentence = "I am a teacher and I love to inspire and teach people"

wordList = sentence.split(" ")
wordSet = set(wordList)
unique = len(wordSet)
print("Unique words in this sentence are ", unique)

Unique words in this sentence are  10

In [2]:
print("Name\t\tAge\tCountry\tCity\nAsabeneh\t250\tFinland\tHelsinki")

Name		Age	Country	City
Asabeneh	250	Finland	Helsinki

In [3]:
radius = 10
area = 3.14 * radius ** 2
print("The area of a circle with radius %s is %d meters square." % (radius, area))

The area of a circle with radius 10 is 314 meters square.

In [5]:
N = int(input("Enter number of students: "))
weightsInPound = []
weightsInKilo = []

for i in range(N):
    weight = int(input("Enter weight (lbs.): "))
    weightsInPound.append(weight)

for i in range(len(weightsInPound)):
    inKilos = round(weightsInPound[i] * 0.453592, 2)
    weightsInKilo.append(inKilos)

print("weights in Pounds:", weightsInPound)
print("weights in Kilos:", weightsInKilo)

Enter number of students: 4
Enter weight (lbs.): 150
Enter weight (lbs.): 155
Enter weight (lbs.): 145
Enter weight (lbs.): 148
weights in Pounds: [150, 155, 145, 148]
weights in Kilos: [68.04, 70.31, 65.77, 67.13]